@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
    background-color: lightblue;
    text-align:center;
}
h2{
    font-family: 'Reem Kufi Fun', sans-serif;
}
ul{
    padding: 10px;
}
li{
    display: inline;
    padding: 0px 10px 0px 0px;
}
header{
    text-align: center;
    background-image: url(images/header.jpg);
    background-size: cover;
}
.header{
    color:antiquewhite;
}
.listheader{
    background: rgba(0,0,0,0.5);
}
p{
    font-family: 'Permanent Marker', cursive;
article {
    max-width: "500px";
    padding: "20px";
    margin: "0" auto;
}
footer{
    font-family: 'Rampart One', sans-serif;
}
img {
  border-radius: "50%";
}

